<!-- ======= About Section ======= -->
<div class="bg">
  <div class="blur">
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
          <div class="about-img">
            <img src="https://static.toiimg.com/photo/74727596.cms" alt="">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Have your favourite restaurants in your pocket.</h3>
          <p class="fst-italic">
            Foodie App helps you find and order food from wherever you are.
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i>It helps you to explore the restaurants that deliver near you, or try yummy take-out fare.</li>
            <li><i class="bi bi-check-circle"></i>With a place for every taste, it’s easy to find food you crave, and order online or through the Foodie app. Find great meals fast with lots of local menus.</li>
          </ul>
          <p> 
            Want to be more specific? Search by cuisine, restaurant name or menu item. We’ll filter your results accordingly. When you are done with selecting, you can place your order online or by phone.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

</div>
</div>