<div class="searchbar">
    <span >
        <mat-form-field class="searchfield">
            <span matPrefix></span>
            <input type="tel" matInput placeholder="Search" name="search" [(ngModel)]="searchText" >
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </span>
    </div>
<div class="content">

      <div fxLayout="row wrap" fxLayoutGap="16px grid" >
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let res of resList|search : searchText">
          <mat-card  class="mat-elevation-z4" >
            <mat-card-header>
              <mat-card-title>{{res.restaurantName}}</mat-card-title>
            </mat-card-header>
            <div class="imgContainer">
            <img (click)="goToRestaurantPage()" mat-card-image class="image1" src={{res.restaurantImageUrl}} alt="...">
            <span class="textCenter">{{res.restaurantDesc}}</span>
            </div>
            <mat-card-content>
              <span>
              {{res.restaurantType}}
              </span>
              <mat-icon class="switch-fav" (click)="switchFav()">{{ favIcon }}</mat-icon>
            </mat-card-content>
          </mat-card>
  
        </div>
      </div>
      
</div>
      