<div class="bg1">
    <div class="blur1">
        <div class="fade-in-image">
            <div class="text">
                <h1>Thank You For Ordering! 
                    Your order is being prepared!</h1>
                <img class="img-display" src="https://cdn.dribbble.com/users/3430880/screenshots/7283210/cooking-min.gif" alt="Computer man" style="width:500px;height:400px;">
                <button  mat-raised-button class ="navbtns"  [routerLink]="[('/home')]" ><mat-icon>done</mat-icon>Done</button>
            </div>
           
        </div>
    
       
    </div>

</div>

