<!-- 
<footer class="footer">
<div class="icons">
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-instagram"></a>
</div>

<div class="left-list">
    <ul>
        <li><a>Privacy Policy</a></li>
        <li><a>Terms</a></li>
        <li><a>Pricing</a></li>
        <li><a>Do not sell my info(canada) </a></li>
    </ul>
</div>

<div class="info">
    <ul>
        <li><span>This site is protected by reCAPTCHA and the Google Privacy Policy and <a> Terms of Service </a> apply.</span></li>
        <li> © 2022 Foodie Inc.</li>
    
</ul>
</div>
<div class="logo">
<h1 class="a1">Food</h1><h1 class="a2">ie</h1>
</div>
</footer>
 -->


 <!-- <footer class="footer">

    <div class="info">
        <ul>
            <li><span>This site is protected by reCAPTCHA and the Google Privacy Policy and <a> Terms of Service </a> apply.</span></li>
            <li> © 2022 Foodie Inc.</li>
        
    </ul>
    </div>
    <div class="logo">
    <h1 class="a1">Food</h1><h1 class="a2">ie</h1>
    </div>
    
    <div class="icons">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
     </div>
    
     <div class="left-list">
        <ul>
            <li><a>Privacy Policy</a></li>
            <li><a>Terms</a></li>
            <li><a>Pricing</a></li>
            <li><a>Do not sell my info(canada) </a></li>
        </ul>
    </div>
    </footer>
    
     -->

     <footer class="footer">

    
        <form class="foot">
            
                
                <div class="icons">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-instagram"></a>
                 </div>

                 <div class="logo">
                    <h1 class="a1">Food</h1><h1 class="a2">ie</h1>
                    </div>
                
                 <div class="left-list">
                    <ul>
                        <li><a>Privacy Policy</a></li>
                        <li><a>Terms</a></li>
                        <li><a>Pricing</a></li>
                        <li><a>Do not sell my info(canada) </a></li>
                    </ul>
                </div>
    
        </form>
        
    </footer>
    