.content{
  padding: 50px;
  padding-top: 10px;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}
.matcontent
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.switch-fav{
  float: right;
}

.title-card-left{
  display:inline;
}

.image1{
  width: 100%;
  max-width: 400px;
  height: 400px;
  }
.mat-elevation-z4
{
    margin: 10px 10px;
}

.btnfloat{
    margin-left: auto;
}
