<div class="entirePage">
  <section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <p>{{resName}}</p>

        <!-- <div id="hero"> -->
          <img class="image" src="{{imageSrc}}" alt="">
        <!-- </div> -->
       
      </div>

    </div><div class="search-bar">
      <form class="example-form2">
       
          <mat-form-field>
            <input matInput type="text" placeholder="Search" name= "search" [(ngModel)]= "searchText">
            <button matSuffix mat-button><mat-icon >search</mat-icon></button>
            </mat-form-field>
    
        
        </form>

      
      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <h2>Menu</h2>
          <ul id="menu-flters" >
            <li (click)="getListall()"data-filter="*" class="filter-active">All</li>
            <li (click)="getListstarter()"data-filter=".filter-starters">Starters</li>
            <li (click)="getListsalad()"data-filter=".filter-salads">Salads</li>
            <li (click)="getListdessert()"data-filter=".filter-dessert">Dessert</li>
            <li (click)="getListspecial()"data-filter=".filter-specialty">Mains</li>
          </ul>
        </div>
      </div>
      <div class="div-col-2">
        <div class="row menu-container" fxLayout="row"  *ngFor="let res of itemLists|searchItem:searchText" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-12 menu-item">
            <img src={{res.imageUrl}} class="menu-img" alt="">
            <div class="menu-content">
              <a >{{res.itemName}}</a><span>{{res.price}}</span>
              <button mat-mini-fab class="add-btn" (click)="openDialog(res)" >+</button>
            </div>
          </div>
        </div>  
      </div>
   
    
     
    </div>
  </section>
</div>




